  
body 
{
        background-image: url('../assets/fff-fff.JPG.jpg');
        background-size: cover; /* Adjust the size of the background image */
        background-position: center; /* Center the background image */
}
     
    